* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-main);
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.menu-toggle,
.hamburger {
    display: none;
}
.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
}
@media (max-width: 768px) {
    .contact-wrapper {
        grid-template-columns: 1fr; /* Chuyển thành 1 cột trên mobile */
        gap: 40px;
    }

    .footer-content {
        grid-template-columns: 1fr;
        text-align: center;
        gap: 20px;
    }

    .social-links {
        justify-content: center;
    }
}