.hero {
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;

    background: linear-gradient(
        90deg,
        var(--primary-color),
        var(--secondary-color)
    );

    padding-top: var(--header-height);
}

.hero h1 {
    font-size: 72px;
    font-weight: 700;

    color: white;

    margin-bottom: 25px;
}

.hero h1::first-letter {
    color: white;
}

/* Your Name màu vàng */
.hero h1 span {
    color: var(--accent-color);
}

.hero p {
    font-size: 30px;
    color: rgba(255,255,255,.8);

    margin-bottom: 60px;
}

.cta-button {
    background: white;
    color: var(--primary-color);

    padding: 22px 45px;

    border-radius: 40px;

    font-size: 20px;
    font-weight: 700;

    transition: .3s;
}

.cta-button:hover {
    transform: translateY(-3px);
}
