.portfolio-section {
    padding: 80px 0;
    text-align: center;
    line-height: 2;
    font-size: 30px;
}

.portfolio-filters {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 2.5rem;
    flex-wrap: wrap;
}

.filter-btn {
    background: transparent;
    border: 2px solid var(--primary-color);
    padding: 1.5rem 2.5rem;
    font-size: 16px;
    border-radius: 25px;
    cursor: pointer;
    font-weight: bold;
    color: var(--dark);
    transition: all 0.3s ease;
}

.filter-btn:hover,
.filter-btn.active {
    background: var(--primary-color);
    color: var(--white);
}

.portfolio-grid {
    display: grid;
    /* Grid tự động điều chỉnh 3 -> 2 -> 1 cột */
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1.5rem;
    text-align: left;
}

.portfolio-item {
    border-radius: 12px;
    background-color: var(--dark);
}

.portfolio-item img {
    width: 100%;
    aspect-ratio: 4/3;
    object-fit: cover;
    display: block;
}